body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Prevent scroll */
  font-family: 'Poppins', sans-serif;
  background-color: #f6f9fc;
}



.app-container {
    display: flex;
    height: 100vh;
    background-color: #f6f9fc;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  